/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tests/**
/**/__tests__/**
/src/javascript/setupTest.js
/tmp/**
test.js
!.eslintrc.js

